<table class="table table-striped" *ngIf="clients?.length>0 ; else noClient">
<thead class="thead-inverse">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Blance</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
   <tr *ngFor="let client of clients">
    <td>{{client.firstName}}{{client.lastNmane}} </td>
    <td>{{client.email}}</td>
    <td>{{client.balance | currency: "USD" :true}}</td>
    <td><a href="" [routerLink]="['/client'+client.key]" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i>Details</a></td>
   </tr>
</tbody>
</table>
